@model ML.Usuario
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h2> Usuarios </h2>
    <h3 class="text-center"> Administrador de Usuarios </h3>
    </div>

    @* Encabezado *@
      <div class="container">
           <h3 class="text-black"> Buscar Usuario mediante:  </h3>
          
           <div class="row">
            
                    @using (Html.BeginForm("GetAll", "Usuario", FormMethod.Post,new { enctype = "multipart/form-data" }))
               {
                     <div class="col-md-3">
                       @Html.DropDownListFor(model => model.Rol.IdRol, new SelectList(Model.Rol.Rols, "IdRol", "Nombre"), "Rol de Usuario", new { @class = "form-control" })
                     </div>
                     <div class="col-md-3">
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @placeholder = "Nombre" })
                    </div>
                
                    <div class="col-md-3">
                    @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @placeholder = "Apellido Paterno" })
                    </div>

                    <div class="col-md-3">
                    <input type="submit" value="Buscar" class="btn btn-success" />
                    </div>
               }
        
          </div>
     
         @Html.ActionLink("Agregar +", "Form", "Usuario", htmlAttributes: new { @class = "btn btn-success" })
      
     </div>

     

     @* TABLA DE USUARIO *@
    <div class="container center-block">

        <div class="row">
            <table class="table table-hover table-responsive" id="tblUsuario">
                <thead>
                    <tr>
                        <th> Editar </th>

                        <th style="display:none;"> Matricula</th>

                        <th> Nombre Completo </th>

                        <th> Fecha de Nacimiento </th>

                        <th> Genero </th>

                        <th> User Name </th>

                        <th> Email </th>

                        <td style="display:none;"> Password </td>

                        <th> Telefono </th>

                        <th> Celular </th>

                        <th> CURP </th>

                        <td style="display:none;"> IdRol</td>

                        <th> Rol </th>
                       
                        <th> Imagen </th>

                        <th> Direccion </th>

                         <th> Status </th>
         
                        <th> Eliminar </th>

                    </tr>
                </thead>

                <tbody>
                    @foreach (ML.Usuario usuario in Model.Usuarios)
                    {
                    <tr>
                        <td class="text-center"><a class="btn btn-warning glyphicon glyphicon-edit" href="@Url.Action("Form", "Usuario", new { Matricula = usuario.Matricula})"> <i class="bi bi-pencil-square" style="color: ivory"></i></a></td>
                        
                        <td style="display :none;"> @usuario.Matricula</td>

                        <td>
                            @usuario.Nombre
                            @usuario.ApellidoPaterno
                            @usuario.ApellidoMaterno
                        </td>

                        <td> @usuario.FechaNacimiento</td>

                        <td> @usuario.Genero</td>

                        <td> @usuario.UserName</td>

                        <td> @usuario.Email</td>

                        <td style="display:none;"> @usuario.Password</td>

                        <td> @usuario.Telefono</td>

                        <td> @usuario.Celular</td>

                        <td> @usuario.CURP</td>

                        <td style="display :none;"> @usuario.Rol.IdRol</td>

                        <td> @usuario.Rol.Nombre</td>                           
                       <td>


                            @if (Model.Imagen != null)
                            {

                                <img id="Img" src="data:image/*;base64,@Model.Imagen" style="width:250px ; height:250px" />

                            }
                            else
                            {
                                <img id="Img" src="~/Imagen/SinFoto.jpg" style="width:250px ; height:250px" />
                            }


                       </td>
                                                             
                         <td> 
                            @usuario.Direccion.Calle
                            @usuario.Direccion.NumeroExterior
                            @usuario.Direccion.NumeroInterior

                            @usuario.Direccion.Colonia.Nombre
                            @usuario.Direccion.Colonia.CodigoPostal

                            @usuario.Direccion.Colonia.Municipio.Nombre

                            @usuario.Direccion.Colonia.Municipio.Estado.Nombre

                            @usuario.Direccion.Colonia.Municipio.Estado.Pais.Nombre

                         </td>
                          @if (usuario.Status)
                        {
                            <td style="text-align: center; vertical-align: middle;">
                            <div class="form-check form-switch" >
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"  checked onchange="ChangeStatus(@usuario.Matricula, this)">
                            </div>
                    </td>      
                        }
                        else
                        {
                            <td style="text-align: center; vertical-align: middle;">
                            <div class="form-check form-switch" >
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault"  onchange="ChangeStatus(@usuario.Matricula, this);">
                            </div>
                    </td>
                        }

                        <td class="text-center"><a class="btn btn-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Usuario", new { Matricula = usuario.Matricula })" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"> <i class="bi bi-eraser-fill" style="color: mintcream"></i></a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
@section Scripts
{

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.material.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#tblUsuario').DataTable({
            searching: false,
            "lengthMenu": [[5, 10, 15, 20, -1], [5, 10, 15, 20, "All"]],
            autoWidth: false,
            columnDefs: [
                {
                    targets: ['_all'],
                    className: 'mdc-data-table__cell',
                },
            ],
            language: {
                url: "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json",
            },
         });
    });

        function ChangeStatus(matricula,e){
        var status = e.checked
         $.ajax({
                type: 'POST',
                url: '@Url.Action("CambiarStatus")',
                dataType: 'json',
                data: {matricula, status},
                success: {               },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
       }
    

  </script>
}